---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import TennisExperience from "../components/sections/TennisExperience.astro";
import Skills from "../components/sections/Skills.astro";
import Contact from "../components/sections/Contact.astro";
import Footer from "../components/sections/Footer.astro";
import SectionDivider from "../components/ui/SectionDivider.astro";
import TennisVideo from "../components/sections/TennisVideo.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <SectionDivider />
    <TennisVideo />
    <SectionDivider />
    <Experience />
    <TennisExperience />
    <SectionDivider />
    <Skills />
    <SectionDivider />
    <Contact />
  </main>
  <Footer />
</Layout>
